"*":
  core:
    disabledPackages: [
      "autocomplete-plus"
      "autocomplete-snippets"
      "autocomplete-html"
      "autocomplete-css"
      "autocomplete-atom-api"
      "spell-check"
    ]
    telemetryConsent: "no"
  editor: {}
  "exception-reporting":
    userId: "ef7769ba-45a5-4065-af24-b026f0243c2b"
  "markdown-preview": {}
  welcome:
    showOnStartup: false
